<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="sport.tc.com.android_handhoop">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:name="sport.tc.com.MyApplication"
        android:allowBackup="true"
        android:icon="${app_icon}"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:largeHeap="true"
        android:theme="@style/AppTheme"
        >
        <activity android:name="sport.tc.com.ui.splash.SplashActivity"
                  android:theme="@style/MyTheme"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name="sport.tc.com.ui.home.HomeActivity"
            android:launchMode="singleTask"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:screenOrientation="portrait"/>



        <activity
            android:name="sport.tc.com.ui.activity.UserActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="sport.tc.com.ui.activity.HealthyFamilyActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            />


        <activity
            android:name="sport.tc.com.ui.activity.MyHealthyFamilyActivity"
            android:launchMode="standard"
            ></activity>

        <activity
            android:name="sport.tc.com.ui.activity.MyHealthyMangerActivity"
            android:launchMode="standard"
            ></activity>

        <activity
            android:name="sport.tc.com.ui.activity.MyCollectActivity"
            android:launchMode="standard"
            ></activity>

        <activity
            android:name="sport.tc.com.ui.activity.MyExpertActivity"
            android:launchMode="standard"
            ></activity>

        <activity
            android:name="sport.tc.com.ui.activity.MyReserveActivity"
            android:launchMode="standard"
            ></activity>

        <activity
            android:name="sport.tc.com.ui.activity.MyNewsActivity"
            android:launchMode="standard"
            ></activity>

        <activity
            android:name="sport.tc.com.ui.activity.MySettingActivity"
            android:launchMode="standard"
            ></activity>

        <activity
            android:name="sport.tc.com.ui.login.AuthorLoginActivity"
            android:launchMode="standard"
            ></activity>
        <activity
            android:name="sport.tc.com.ui.activity.NapeDetailActivity"
            android:launchMode="standard"
            ></activity>


        <activity
            android:name="sport.tc.com.ui.activity.NapeListActivity"
            android:launchMode="standard"
            ></activity>

        <activity
            android:name="sport.tc.com.ui.activity.ActiveActivity"
            android:launchMode="standard"
            ></activity>

        <activity
            android:name="sport.tc.com.ui.activity.FeedBackActivity"
            android:launchMode="standard"
            ></activity>

        <activity
            android:name="sport.tc.com.ui.activity.ModifyUserActivity"
            android:launchMode="standard"
            ></activity>


    </application>

</manifest>